@font-face{font-family:'proxima';font-weight:normal;font-style:normal;src:url('../font/proximanova-regular-webfont.eot');src:url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanova-regular-webfont.woff2') format('woff2'),
url('../font/proximanova-regular-webfont.woff') format('woff'),
url('../font/proximanova-regular-webfont.ttf') format('truetype'),
url('../font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg')
}
@font-face{font-family:'proxima';font-weight:900;font-style:normal;src:url('../font/proximanova-black-webfont.eot');src:url('../font/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanova-black-webfont.woff2') format('woff2'),
url('../font/proximanova-black-webfont.woff') format('woff'),
url('../font/proximanova-black-webfont.ttf') format('truetype'),
url('../font/proximanova-black-webfont.svg#proxima_novablack') format('svg')
}
@font-face{font-family:'proxima';font-weight:300;font-style:italic;src:url('../font/proximanova-lightitalic-webfont.eot');src:url('../font/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanova-lightitalic-webfont.woff2') format('woff2'),
url('../font/proximanova-lightitalic-webfont.woff') format('woff'),
url('../font/proximanova-lightitalic-webfont.ttf') format('truetype'),
url('../font/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg')
}
@font-face{font-family:'proxima';font-weight:700;font-style:italic;src:url('../font/proximanova-boldit-webfont.eot');src:url('../font/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanova-boldit-webfont.woff2') format('woff2'),
url('../font/proximanova-boldit-webfont.woff') format('woff'),
url('../font/proximanova-boldit-webfont.ttf') format('truetype'),
url('../font/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg')
}
@font-face{font-family:'proxima';font-weight:300;font-style:normal;src:url('../font/proximanovacond-light-webfont.eot');src:url('../font/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanovacond-light-webfont.woff2') format('woff2'),
url('../font/proximanovacond-light-webfont.woff') format('woff'),
url('../font/proximanovacond-light-webfont.ttf') format('truetype'),
url('../font/proximanovacond-light-webfont.svg#proxima_nova_condensedlight') format('svg')
}
@font-face{font-family:'proxima';font-weight:700;font-style:normal;src:url('../font/proximanova-bold-webfont.eot');src:url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanova-bold-webfont.woff2') format('woff2'),
url('../font/proximanova-bold-webfont.woff') format('woff'),
url('../font/proximanova-bold-webfont.ttf') format('truetype'),
url('../font/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg')
}
@font-face{font-family:'proxima';font-weight:normal;font-style:italic;src:url('../font/proximanova-regitalic-webfont.eot');src:url('../font/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanova-regitalic-webfont.woff2') format('woff2'),
url('../font/proximanova-regitalic-webfont.woff') format('woff'),
url('../font/proximanova-regitalic-webfont.ttf') format('truetype'),
url('../font/proximanova-regitalic-webfont.svg#proxima_novaregular_italic') format('svg')
}
html,
body {
    width:100%;
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    position:relative;
    background-color:#fff;
    font-family:proxima,
    sans-serif
}
footer {
    box-sizing:border-box;
    height:30rem;
    padding:5% 3% 2% 3%;
    display:block;
    background-color:#225f66
}
* {
    -webkit-backface-visibility:hidden
}
.overlapping-default {
    max-width:80%;
    position:absolute;
    z-index:20;
    top:50%;
    left:50%;
    -webkit-transform:translatey(-50%) translateX(-50%);
    -ms-transform:translatey(-50%) translateX(-50%);
    transform:translatey(-50%) translateX(-50%)
}
.overlapping-default:before {
    clear:both;
    content:''
}
.overlapping-upper {
    min-width:80%;
    max-width:80%;
    position:absolute;
    z-index:20;
    top:50%;
    left:50%;
    -webkit-transform:translatey(-50%) translateX(-50%);
    -ms-transform:translatey(-50%) translateX(-50%);
    transform:translatey(-50%) translateX(-50%)
}
.overlapping-upper:before {
    clear:both;
    content:''
}
html,
body {
    height:inherit
}
article {
    margin:10rem 0 0 0
}
a {
    color:inherit;
    text-decoration:none
}
li {
    display:inline-block;
    list-style:none
}
h1,
h3 {
    color:#fff;
    text-transform:uppercase
}
h1 {
    margin:0 auto;
    display:block;
    font-size:5em;
    font-weight:700;
    line-height:1.5
}
h2 {
    margin:0;
    display:inline-block;
    color:#000;
    font-size:3em;
    font-weight:700;
    text-transform:uppercase
}
h3 {
    font-size:3em;
    font-weight:100
}
h4 {
    margin:0;
    color:#fff;
    font-size:3em;
    font-weight:400;
    line-height:1.3;
    text-align:left;
    text-transform:uppercase
}
h5 {
    margin:0;
    font-size:2em
}
h6 {
    color:#fff;
    font-size:1.5em;
    font-weight:400;
    text-align:center
}
hr {
    border:1px solid #ced0c7
}
p {
    color:#88888a;
    font-family:proxima,
    sans-serif;
    font-size:1.5em;
    font-weight:400
}
button {
    width:20rem;
    height:4.2rem;
    border:none;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer
}
button:focus {
    outline:none
}
#event {
    font-size:4em
}
.left {
    float:left
}
.right {
    float:right
}
.container:after {
    clear:both;
    content:''
}
.link-container {
    width:100%;
    padding:3% 0 1% 0;
    display:inline-block
}
.language {
    width:2rem;
    height:1rem;
    color:#9898a6;
    border-left:1px solid #9898a6;
    text-align:center
}
.language:first-child {
    border:none
}
.header>.link-container>.lang_list>.language {
    color:#686868;
    border-left:1px solid #686868
}
.header>.link-container>.lang_list>.language:first-child {
    border:none
}
.lang_list {
    width:10rem;
    margin:0 0 0 5%;
    padding:0;
    display:inline-block
}
.social-list {
    width:20rem;
    margin:0 0 0 2%;
    padding:0;
    display:inline-block;
    opacity:.8
}
.logo-home {
    width:25%;
    position:absolute;
    top:2%;
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%)
}
.logo {
    width:25%;
    position:absolute;
    top:2%;
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    width:15%
}
.social {
    height:1.2rem;
    fill:#fff
}
.li_social {
    width:2.5rem;
    margin-left:.4rem
}
.li-link {
    width:2.5rem;
    margin-left:4rem
}
.action-link {
    width:15rem;
    margin:0 5% 0 0;
    padding:0;
    display:inline-block
}
.action {
    height:1.4rem;
    cursor:pointer
}
.main_title_container {
    display:block;
    line-height:.5;
    text-align:right
}
.btn_explore {
    color:#fff;
    background-color:#0f75bc;
    font-family:proxima,
    sans-serif;
    font-size:1.1em;
    font-weight:400
}
.section {
    width:100%;
    height:55rem;
    position:relative;
    display:block
}
.section>h5 {
    color:#000
}
.small-section {
    width:100%;
    height:55rem;
    position:relative;
    display:block;
    height:32.5rem
}
.small-section>h5 {
    color:#000
}
.preface-container {
    box-sizing:border-box;
    height:inherit;
    margin:0 auto;
    padding:10% 0 10% 0;
    background-color:#9a5150
}
#peak:after {
    width:12%;
    position:absolute;
    top:56%;
    left:83%;
    display:block;
    content:url('../img/peak.svg')
}
#peak:before {
    width:12%;
    position:absolute;
    top:17%;
    left:5%;
    display:block;
    content:url('../img/peak_open.svg')
}
.outer-center {
    max-width:60%;
    margin:0 auto;
    position:relative
}
.outer-center:after {
    clear:both;
    content:''
}
.inner-center {
    position:relative;
    right:-50%;
    float:right
}
.vertical {
    width:30%;
    height:100%;
    background-image:url('../img/49269494.jpg');
    background-repeat:no-repeat;
    background-size:cover
}
.horizontal {
    width:70%;
    height:50%;
    background-image:url('../img/53751508.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.horizontal-half {
    width:25%;
    height:50%;
    background-image:url('../img/64556106.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.horizontal-half-small {
    width:45%;
    height:50%;
    background-image:url('../img/71612847.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.overlapping {
    height:55rem;
    position:relative
}
.competence {
    font-size:3.5rem;
    font-weight:400
}
.btn_container {
    width:100%;
    position:absolute;
    z-index:20;
    top:80%;
    text-align:center;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
}
.section_text {
    padding:10% 10% 10% 10%;
    position:relative;
    display:block
}
.section_text article {
    position:relative
}
.section_text:before {
    clear:both
}
.section_text article:first-of-type {
    margin-top:0
}
.subheading {
    margin:2% 0 10% 0;
    display:inline-block;
    color:#ababab;
    font-size:2.5em;
    font-weight:100
}
.news-photo {
    width:30%;
    height:17.8rem;
    overflow:hidden
}
.news-photo img {
    right:2rem;
    position:relative;
    bottom:1rem;
    width:130%
}
.news-date-container {
    width:7rem;
    height:8rem;
    margin:1% 0 0 1%;
    position:absolute;
    z-index:1
}
.news-date {
    width:80%;
    height:100%;
    position:absolute;
    z-index:30;
    top:0;
    left:10%
}
.news-date-mask {
    width:7rem;
    height:8rem;
    margin:1% 0 0 1%;
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    margin:0;
    opacity:.8;
    background-color:white
}
.day {
    box-sizing:border-box;
    width:80%;
    height:50%;
    margin:0 auto;
    padding:18% 0 12% 0;
    border-bottom:1px solid #000
}
.month {
    box-sizing:border-box;
    width:80%;
    height:50%;
    margin:0 auto;
    padding:18% 0 12% 0;
    border-bottom:1px solid #000;
    border:none;
    text-transform:capitalize
}
.news-date-text {
    margin:0;
    color:#000;
    font-size:2em;
    text-align:center
}
.article-photo {
    background-image:url('../img/4075641256_8b1595fa8b_b.jpg');
    background-repeat:no-repeat;
    background-size:cover
}
.news-text {
    position:absolute;
    top:0;
    right:0;
    width:65%;
    margin:2% 0 0 0
}
.news-text .right:after {
    clear:both
}
.vertical-big {
    width:50%;
    height:100%;
    background-image:url('../img/65833085.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.horizontal-small {
    width:25%;
    height:50%;
    background-image:url('../img/64258659.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top
}
.bckgrnd-photo {
    background-image:url('../img/70406764.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top
}
.horizontal-double {
    width:50%;
    height:50%;
    background-image:url('../img/70006379.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.second-title {
    margin:0;
    color:#fff;
    font-size:2em;
    text-transform:uppercase
}
.alt-btn {
    color:#fff;
    background-color:#0f75bc;
    font-family:proxima,
    sans-serif;
    font-size:1.1em;
    font-weight:400;
    color:#974f51;
    background-color:#fff
}
.alt-btn_container {
    width:100%;
    position:absolute;
    z-index:20;
    top:80%;
    text-align:center;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    margin:5% 0 0 0;
    position:relative;
    text-align:left;
    -webkit-transform:none;
    -ms-transform:none;
    transform:none
}
.row-post>* {
    width:calc(31.33333%);
    margin:1em 1em;
    display:block;
    float:left
}
.row-post>*:last-child {
    margin-right:0
}
.row-post>*:first-child {
    margin-left:0
}
.post-container {
    box-sizing:border-box;
    height:26.4rem;
    overflow:hidden;
    position:relative
}
.post-container .background-image {
    right:2rem;
    position:relative;
    bottom:1rem;
    width:150%
}
.post-facebook {
    height:26.4rem;
    overflow:hidden;
    position:relative;
    padding:2%;
    box-sizing:border-box;
    background-color:#3171ba;
    background-image:none
}
.post-facebook .background-image {
    right:2rem;
    position:relative;
    bottom:1rem;
    width:150%
}
.logo-post-facebook {
    width:10rem;
    margin:0 auto;
    display:block
}
.logo-pinterest-post {
    position:absolute;
    z-index:1;
    width:20%;
    right:0;
    bottom:1.5rem
}
.row-post {
    display:block;
    overflow:hidden
}
.bottom-row-post {
    margin-top:0;
    display:block;
    overflow:hidden
}
.title-post {
    margin:3% 0 17% 0
}
.text-post-facebook {
    height:8rem;
    color:#ced0c7;
    font-size:1.5em;
    font-weight:100
}
.date-post-facebook {
    color:#ced0c7;
    font-size:1.5em;
    font-weight:100;
    margin:2rem 0 0 0;
    display:inline-block;
    text-align:left
}
.logo-facebook-post {
    height:2.5rem;
    position:absolute;
    top:83%;
    right:5%;
    display:inline-block
}
.logo-post {
    height:1.2rem;
    fill:#fff;
    height:100%;
    float:right
}
.logo-fb-post {
    height:3.5rem;
    position:absolute;
    top:10%;
    left:5%;
    display:inline-block
}
.follow-fb {
    width:20rem;
    margin:0;
    position:absolute;
    top:85%;
    left:50%;
    text-transform:uppercase;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%)
}
.section-map {
    height:60rem;
    width:100%;
    height:55rem;
    position:relative;
    display:block
}
.section-map>h5 {
    color:#000
}
.section-map:before {
    width:100%;
    display:table;
    float:none;
    clear:both;
    content:''
}
.headquarters {
    box-sizing:border-box;
    height:26.4rem;
    overflow:hidden;
    position:relative;
    width:27rem;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    background-color:#fff;
    background-image:none;
    -webkit-transform:translate(-50%,
    -50%);
    -ms-transform:translate(-50%,
    -50%);
    transform:translate(-50%,
    -50%)
}
.headquarters .background-image {
    right:2rem;
    position:relative;
    bottom:1rem;
    width:150%
}
.city {
    margin:3% 0 17% 0;
    margin:3% 0 5% 0;
    color:#974f51;
    text-transform:uppercase
}
.address {
    height:2rem;
    font-size:1.5em;
    font-weight:100;
    margin:0 0 2% 0;
    text-align:center;
    color:#974f51
}
.city-container {
    margin:0 0 5% 0
}
.logo-post-map {
    width:10rem;
    margin:0 auto;
    display:block;
    width:18rem
}
.social-footer-container {
    margin:0;
    font-size:3em;
    text-transform:uppercase
}
.social-footer {
    width:35rem;
    margin:5% auto;
    padding:0;
    display:block
}
.li-social-footer {
    width:auto;
    margin-left:2rem
}
.social-footer>*:first-child {
    margin-left:0
}
.icon-social {
    height:3rem
}
.info-footer {
    width:100%;
    margin:4% 0 0 0;
    padding:0
}
.info-footer>*:first-child {
    margin-left:0
}
.li-info {
    margin:0 0 0 11.8%;
    color:#ced0c7;
    font-size:1em;
    text-transform:uppercase
}
.header {
    height:11.5rem
}
.events {
    width:33.333%;
    height:100%;
    margin:0;
    display:inline-block;
    float:left;
    background-image:url('../img/170756_1_800.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.events-photo {
    background-image:url('../img/3aa532d5ace41733573e91e8e967472c.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.events-title-box {
    width:33.333%;
    height:100%;
    margin:0;
    display:inline-block;
    float:left;
    background-image:url('../img/170756_1_800.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    box-sizing:border-box;
    padding:5% 9% 0 3%;
    background-image:none
}
.events-title-box.horizontal {
    position:absolute;
    top:8rem;
    width:100%
}
.events-title-box.special {
    position:absolute;
    width:80% !important;
    left:0;
    top:0
}
.events-title-box.special h2 {
    color:#974f51
}
.events-title {
    color:#974f51;
    line-height:1.5
}
.promotions {
    width:33.333%;
    height:100%;
    margin:0;
    display:inline-block;
    float:left;
    background-image:url('../img/170756_1_800.jpg');
    box-sizing:border-box;
    width:66.666%;
    background-image:url('../img/berlinetta01.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.color-mask {
    height:inherit;
    opacity:.5;
    background-color:#974f51
}
.promotions>.events-title {
    width:30%;
    position:absolute;
    z-index:20;
    top:16%;
    left:36.5%;
    color:#fff
}
.landscape-image {
    width:100%;
    height:55rem;
    position:relative;
    display:block;
    height:32.5rem;
    background-image:url('../img/128646_1_800.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center
}
.landscape-image>h5 {
    color:#000
}
.big-box-title {
    color:white
}
.section_text-events {
    padding:10% 10% 10% 10%;
    position:relative;
    display:block;
    padding:10% 20% 5% 20%
}
.section_text-events article {
    position:relative
}
.section_text-events:before {
    clear:both
}
.text-events {
    margin:5% 0;
    font-size:1.5em;
    line-height:1.5
}
.inner-text-link {
    color:#000;
    text-decoration:underline
}
.section-main {
    width:100%;
    height:55rem;
    position:relative;
    display:block;
    height:40rem
}
.section-main>h5 {
    color:#000
}
.overlapping-main {
    height:55rem;
    position:relative;
    height:40rem
}
.second-title-main {
    margin:0;
    color:#fff;
    font-size:2em;
    font-weight:700;
    text-transform:uppercase
}
.competence-main {
    font-size:3.5rem;
    font-weight:400;
    font-weight:700
}
.section-preface {
    padding:10% 10% 10% 10%;
    position:relative;
    display:block;
    padding:10% 20% 5% 20%;
    box-sizing:content-box;
    background-color:#f1f1f1
}
.section-preface article {
    position:relative
}
.section-preface:before {
    clear:both
}
.section-photo {
    box-sizing:content-box;
    width:100%;
    margin:15% 0 7% 0
}
.photo {
    width:20rem;
    height:20rem;
    margin:0 auto;
    display:block;
    border-radius:20rem;
    background-image:url('../img/Ines Stosic_2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top
}
.human-photo {
    background-image:url('../img/Pivetta Katia_2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top
}
.name-photo {
    width:100%;
    margin-top:10%;
    font-size:2.2em;
    text-align:center
}
.photo-container {
    width:49%;
    display:inline-block
}
.active-edit .name-photo,
.name-photo-hover {
    color:#974f51
}
.active-edit .photo,
.photo-hover {
    box-sizing:border-box;
    border:1em solid #974f51
}
.header {
    position:relative;
    display:block;
    overflow:visible;
    -webkit-transition:height .3s ease-in-out;
    transition:height .3s ease-in-out
}
.header.open {
    height:25rem
}
.header.open .header-closed {
    z-index:1;
    display:block;
    opacity:0
}
.header.open aside {
    z-index:2;
    opacity:1
}
.header .header-closed {
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    opacity:1;
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out
}
.header aside {
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    opacity:0;
    background-color:#fff;
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out
}
.menu-container {
    box-sizing:border-box;
    width:50%;
    height:60%;
    margin:0;
    padding:2% 0 0 15%
}
.menu-item {
    width:17%;
    margin:0 0 3% 0;
    display:block;
    color:#000;
    font-size:1.3em;
    font-weight:700;
    text-transform:uppercase
}
.menu-item:hover {
    color:#974f51
}
.search-elements {
    height:3em;
    display:block
}
.search-elements input {
    font-size:3rem;
    color:#ccc;
    border-style:hidden;
    width:95%;
    background-color:inherit
}
.search-elements input:-ms-input-placeholder {
    color:#ccc
}
.search-elements input::-webkit-input-placeholder {
    color:#ccc
}
.search-elements input::-moz-placeholder {
    color:#ccc
}
.search-elements input:focus {
    outline:0
}
.search {
    box-sizing:border-box;
    width:70%;
    height:auto;
    margin:0 0 0 15%;
    padding:4% 0 1% 0;
    border-bottom:1px solid #ccc
}
.search>.search-elements>.search-text {
    margin:0;
    display:inline-block;
    color:#ccc;
    font-size:2.5em;
    text-transform:uppercase
}
.search>.search-elements>form>.search-icon {
    width:3rem;
    display:inline-block
}
.close {
    width:1.5%;
    position:absolute;
    top:12%;
    right:5%;
    cursor:pointer
}
.story-container {
    box-sizing:border-box;
    position:relative
}
.story {
    margin:5% 0;
    font-size:1.5em;
    line-height:1.5;
    min-width:80%;
    max-width:80%;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    display:inline-block;
    -webkit-transform:translatey(-50%) translateX(-50%);
    -ms-transform:translatey(-50%) translateX(-50%);
    transform:translatey(-50%) translateX(-50%)
}
.story-close {
    width:2%;
    position:absolute;
    top:10%;
    right:3%;
    cursor:pointer
}
.story-container {
    box-sizing:border-box;
    height:0;
    position:relative;
    overflow:hidden;
    -webkit-transition:height .3s ease-in-out;
    transition:height .3s ease-in-out
}
.story-container.open-info {
    height:20rem
}
.home-container {
    box-sizing:border-box;
    width:100%;
    height:55rem;
    position:relative;
    background-image:url('../img/75306027.jpg');
    background-repeat:no-repeat;
    background-size:135%;
    background-position:100% 18%
}
.home-container .language {
    color:white;
    border-left:1px solid white;
    font-weight:700
}
.home-container .language:first-child {
    border:none
}
.container {
    position:absolute;
    top:35%;
    right:5%
}
.contact-block {
    display:block;
    position:relative
}
.form-container {
    margin:3rem 0 5rem 30rem;
    width:40rem;
    -moz-border-radius:7px;
    -webkit-border-radius:7px
}
.form-container .contact-email {
    margin-top:-1rem;
    color:#000;
    font-size:2em;
    font-weight:700;
    text-transform:uppercase
}
.contact-form {
    margin-top:2rem
}
.contact-form #name {
    margin-right:.75rem
}
.contact-form #surname {
    margin-left:.75rem
}
.contact-form #name,
.contact-form #surname {
    width:19rem
}
.contact-form #message {
    height:15rem
}
.contact-form label {
    display:block;
    padding-bottom:1rem;
    font-size:1.5em;
    font-weight:400
}
.feedback-input {
    color:#88888a;
    font-weight:500;
    font-size:18px;
    border-radius:0;
    line-height:22px;
    background-color:#f1f1f1;
    padding:1rem;
    margin-bottom:2rem;
    width:100%;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    border:2px solid #ced0c7
}
.feedback-input:focus {
    background:#f1f1f1;
    box-shadow:0;
    border:2px solid #686868;
    color:#686868;
    outline:none
}
.header.shadow {
    box-shadow:0 .1rem 1rem rgba(50,
    50,
    50,
    0.75)
}
.legal-section {
    position:relative;
    display:block;
    padding:10% 20% 5% 20%;
    z-index:1
}
.legal-item a {
    border:none;
    outline:none
}
.legal-item span {
    font-size:1em;
    font-weight:700;
    text-transform:uppercase;
    cursor:pointer
}
.legal-item span:before {
    content:"_ ";
    color:#974f51;
    font-size:3rem;
    font-weight:700
}
.legal-item .head {
    color:#974f51;
    font-style:italic;
    font-weight:700
}
.legal-item div {
    display:block
}
.legal-item.collapsed {
    height:5rem
}
.legal-item.collapsed span:before {
    content:"+ "
}
.legal-item.collapsed div {
    display:none
}
.home-container.maintenance {
    background-image:url('../img/home-maintenance.jpg');
    background-size:150%;
    background-position:right
}
#map-canvas {
    height:100%;
    width:100%;
    margin:0;
    padding:0
}
footer.maintenance>hr {
    margin-top:15rem
}
.search-block {
    background-color:#974f51;
    padding:7rem 0 7rem 0
}
.search-block .search-form {
    width:70%;
    margin-left:15%;
    margin-bottom:1rem;
    padding-bottom:.5rem;
    border-bottom:1px solid #ccc
}
.search-block .search-form input {
    font-size:3rem;
    color:white;
    border-style:hidden;
    width:95%;
    background-color:inherit
}
.search-block .search-form input:-ms-input-placeholder {
    color:#fff
}
.search-block .search-form input::-webkit-input-placeholder {
    color:#fff
}
.search-block .search-form input::-moz-placeholder {
    color:#fff
}
.search-block .search-form input:focus {
    outline:0
}
.search-block .search-form img {
    color:#fff;
    width:3rem
}
.search-block span {
    margin-left:15%;
    margin-top:2rem;
    font-style:italic;
    color:#fff;
    font-size:1rem
}
.section_search {
    width:70%;
    margin:4rem 0 0 15rem
}
.section_search .search-result {
    margin-bottom:3rem
}
.section_search .search-result .result-title {
    color:#974f51;
    font-size:2rem;
    text-decoration:underline;
    cursor:pointer
}
.countdown {
    margin:0 0 0 14rem;
    font-size:.9rem
}
.countdown .countdown-dh,
.countdown .countdown-ms {
    float:left;
    margin-top:0;
    margin-left:1rem
}
.section_post {
    width:100%;
    margin:8rem 0 4rem 0;
    overflow:auto
}
.section_post .post-block {
    width:60%;
    margin-left:10rem
}
.section_post .post-head .post-title {
    float:left;
    color:#974f51;
    font-size:3rem;
    font-weight:700;
    text-transform:capitalize
}
.section_post .post-head .post-author {
    float:left;
    text-transform:uppercase;
    font-size:1.5rem;
    color:#ababab;
    margin-top:1rem
}
.section_post .post-head .post-social {
    margin:.5rem 2rem 3rem 5rem;
    float:left;
    width:30%
}
.section_post .post-head .post-social img {
    float:left;
    width:10%
}
.section_post .post-head .post-social p {
    float:left;
    margin:-1rem 1rem 0 .2rem;
    font-size:1.3rem
}
.section_post .post-body .post-image {
    margin-bottom:2rem;
    margin-left:-5rem
}
.section_post .post-body .post-image img {
    display:inline;
    width:100%
}
.section_post .add-comment label {
    color:#974f51;
    text-transform:uppercase;
    font-size:2rem;
    font-weight:400
}
.section_post .add-comment #new-comment {
    margin-top:1rem;
    background-color:#fff
}
.section_post .post-comments span {
    text-transform:uppercase;
    font-size:2rem;
    color:#ababab
}
.section_post .post-comments .n-comments {
    font-size:3rem;
    color:#974f51;
    margin-right:1rem
}
.section_post .post-comments .comment {
    margin-top:4rem
}
.section_post .post-comments .comment .author-image {
    float:left;
    margin:0 3rem 6rem 0;
    width:6rem;
    height:6rem;
    overflow:hidden;
    position:relative
}
.section_post .post-comments .comment .author-image img {
    position:absolute;
    left:-100%;
    right:-100%;
    top:-100%;
    bottom:-100%;
    margin:auto;
    width:120%
}
.section_post .post-comments .comment .comment-author {
    text-transform:capitalize;
    color:#974f51
}
.section_post .post-comments .comment .comment-body {
    overflow:hidden;
    text-overflow:ellipsis
}
.section_post .post-comments .comment .comment-date {
    font-size:1.5rem;
    margin-top:2rem;
    color:#ced0c7
}
.blog-top.post {
    margin-left:85rem
}
.section_blog {
    width:100%;
    margin-top:8rem;
    overflow:auto
}
.section_blog .blog-block {
    width:70%;
    float:left
}
.section_blog .blog-block .blog-item {
    padding:0 4rem 6rem 8rem
}
.section_blog .blog-block .blog-item .blog-date {
    text-align:center;
    opacity:.8;
    background-color:white;
    width:11%;
    margin:2rem 0 0 2rem;
    position:absolute
}
.section_blog .blog-block .blog-item .blog-date .day {
    box-sizing:border-box;
    color:black;
    font-size:5rem;
    width:80%;
    margin:0 auto;
    padding:10% 0 5% 0;
    border-bottom:1px solid #000
}
.section_blog .blog-block .blog-item .blog-date .month {
    color:black;
    font-size:2rem;
    padding:5% 0 10% 0
}
.section_blog .blog-block .blog-item .blog-image {
    margin-bottom:2rem
}
.section_blog .blog-block .blog-item .blog-image img {
    display:inline;
    width:100%
}
.section_blog .blog-block .blog-item .blog-author {
    display:none
}
.section_blog .blog-block .blog-item .blog-title {
    color:#974f51;
    font-size:2.5rem;
    text-transform:uppercase;
    font-weight:700
}
.section_blog .blog-block .blog-item .blog-social {
    margin-top:2rem
}
.section_blog .blog-block .blog-item .blog-social img {
    float:left;
    position:relative;
    width:4%
}
.section_blog .blog-block .blog-item .blog-social p {
    float:left;
    margin:-1rem 1rem 0 .2rem;
    font-size:1.3rem
}
.section_blog .blog-block .blog-item.collapsed {
    margin:0 4rem 8rem 8rem;
    padding:0
}
.section_blog .blog-block .blog-item.collapsed .blog-date {
    width:5%;
    margin:.5rem 0 0 .5rem;
    z-index:1
}
.section_blog .blog-block .blog-item.collapsed .blog-date .day {
    font-size:2rem
}
.section_blog .blog-block .blog-item.collapsed .blog-date .month {
    font-size:1rem
}
.section_blog .blog-block .blog-item.collapsed .blog-image {
    float:left;
    margin:0 2rem 0 0;
    width:18rem;
    height:15rem;
    overflow:hidden;
    position:relative
}
.section_blog .blog-block .blog-item.collapsed .blog-image img {
    position:absolute;
    left:-100%;
    right:-100%;
    top:-100%;
    bottom:-100%;
    margin:auto;
    width:150%
}
.section_blog .blog-block .blog-item.collapsed .blog-author {
    display:block;
    color:#88888a;
    margin-bottom:1.2rem;
    font-size:1.5rem
}
.section_blog .blog-block .blog-item.collapsed .blog-title {
    font-size:2rem
}
.section_blog .blog-block .blog-item.collapsed .blog-preview {
    overflow:hidden;
    text-overflow:ellipsis;
    height:6rem
}
.section_blog .blog-block .blog-item.collapsed .blog-preview p {
    overflow:hidden;
    text-overflow:ellipsis;
    margin-top:1rem
}
.section_blog .blog-block .blog-item.collapsed .blog-social {
    margin-top:2rem;
    float:left
}
.section_blog .blog-block .blog-item.collapsed .blog-social img {
    float:left;
    position:relative;
    width:1.5rem;
    margin:0
}
.section_blog .blog-block .blog-item.collapsed .blog-social p {
    float:left;
    margin:-1rem 1rem 0 0;
    font-size:1rem
}
.section_blog .blog-sidebar {
    position:absolute;
    width:30%;
    right:0
}
.section_blog .blog-sidebar .blog-search {
    background-color:white;
    padding:.5rem;
    width:50%
}
.section_blog .blog-sidebar .blog-navigation-item {
    padding-right:8rem
}
.section_blog .blog-sidebar .blog-navigation-item span {
    text-transform:uppercase;
    font-size:1.5rem;
    font-weight:700;
    color:#ababab
}
.section_blog .blog-sidebar .blog-navigation-item ul {
    padding:1rem 0 1rem 0
}
.section_blog .blog-sidebar .blog-navigation-item ul li {
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    padding:1rem 2rem 1rem 0
}
.section_blog .blog-sidebar .blog-navigation-item ul li .blog-category {
    text-transform:uppercase
}
.section_blog .blog-sidebar .blog-navigation-item ul li .blog-popular {
    text-transform:capitalize
}
.blog-button {
    width:20%;
    margin:0 0 4rem 15rem
}
.blog-top {
    margin-left:50rem;
    font-size:1.5rem;
    color:#974f51
}
.flip-container {
    -webkit-perspective:1000;
    perspective:1000
}
.flip-container.hover .flipper {
    -webkit-transform:rotateX(180deg);
    transform:rotateX(180deg);
    -webkit-transform-origin:100% 16rem;
    -ms-transform-origin:100% 16rem;
    transform-origin:100% 16rem
}
.flipper {
    -webkit-transition:.6s;
    transition:.6s;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    position:relative
}
.front,
.back {
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    top:0;
    left:0
}
.front {
    z-index:2;
    -webkit-transform:rotateX(0deg);
    transform:rotateX(0deg);
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d
}
.back {
    -webkit-transform:rotateX(180deg);
    transform:rotateX(180deg);
    background-image:none;
    position:relative
}
.sections-block {
    width:100%;
    height:90rem;
    position:relative
}
.sections-block .events-title-box {
    padding:3rem 0 0 3rem;
    z-index:1
}
.sections-block .events-title {
    color:#974f51;
    line-height:1.5
}
.sections-block .image-square-box,
.sections-block .image-wide-box,
.sections-block .image-full-width {
    overflow:hidden;
    position:relative;
    width:50%;
    height:32.5rem;
    z-index:-1
}
.sections-block .image-square-box img,
.sections-block .image-wide-box img,
.sections-block .image-full-width img {
    left:-100%;
    right:-100%;
    top:-100%;
    bottom:-100%;
    margin:auto;
    width:100%
}
.sections-block .image-wide-box {
    width:100%
}
.sections-block .section-horizontal {
    position:absolute;
    display:block;
    width:66.666%;
    height:32.5rem;
    right:0
}
.sections-block .section-horizontal .events-title-box {
    position:absolute;
    width:41%;
    right:5rem
}
.sections-block .section-horizontal.second {
    top:32.5rem
}
.sections-block .section-vertical {
    position:absolute;
    display:block;
    width:33.4%;
    height:65rem
}
.sections-block .section-vertical .flip-container {
    height:63rem
}
.sections-block .section-vertical .image-square-box {
    width:100%;
    height:32.5rem
}
.sections-block .section-vertical .image-square-box img {
    width:150%
}
.sections-block .section-full-width {
    position:absolute;
    top:65rem;
    display:block;
    width:100%;
    height:32.5rem
}
.sections-block .section-full-width .events-title-box {
    position:absolute
}
.sections-block .section-full-width .image-full-width {
    overflow:hidden;
    width:100%
}
.sections-block .section-full-width .image-full-width img {
    width:100%;
    position:absolute;
    bottom:-120%
}
.sections-block .event-description-box {
    display:block;
    overflow-x:auto;
    overflow-y:scroll;
    text-overflow:ellipsis;
    margin:5rem;
    height:25rem
}
.sections-block .section-full-width.back {
    top:0
}
.sections-block .section-vertical.back {
    top:-32.5rem;
    width:34rem
}
.sections-block .section-vertical.back .event-description-box {
    height:56rem
}
.sections-block .section-horizontal.back {
    width:66rem
}
@media screen and (max-width: 640px) {
    html,
    body {
        overflow:hidden;
        height:100%
    }
    main {
        width:100%;
        position:absolute;
        top:0;
        bottom:0;
        overflow:hidden;
        overflow-y:auto;
        -webkit-transition:bottom .3s ease-in-out;
        transition:bottom .3s ease-in-out;
        -webkit-transform:translate(0,
        0);
        -ms-transform:translate(0,
        0);
        transform:translate(0,
        0)
    }
    .opened main {
        bottom:50rem
    }
    footer {
        width:100%;
        height:50rem;
        position:absolute;
        z-index:99999;
        bottom:0;
        left:0;
        -webkit-transition:-webkit-transform .3s ease-in-out;
        transition:transform .3s ease-in-out;
        -webkit-transform:translateY(100%);
        -ms-transform:translateY(100%);
        transform:translateY(100%);
        -moz-display:none
    }
    .opened footer {
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        transform:translateY(0)
    }
    nav {
        padding-top:5rem
    }
    h3 {
        font-size:6em
    }
    h2 {
        font-size:5em
    }
    h1 {
        font-size:8em
    }
    h4 {
        font-size:4em
    }
    h5 {
        font-size:4.5em
    }
    h6 {
        font-size:4.5em
    }
    p {
        font-size:4.2em
    }
    button {
        width:40rem;
        height:10.2rem;
        font-size:3.5em
    }
    article {
        overflow:hidden
    }
    nav {
        padding-top:5rem
    }
    hr {
        border:.3rem solid #ced0c7
    }
    .header {
        height:24rem
    }
    .section {
        height:90rem
    }
    .logo-home {
        width:35rem
    }
    .logo {
        width:35rem
    }
    .link-container {
        padding:7% 0 1% 0
    }
    .social-list {
        display:none
    }
    .lang_list {
        width:35rem;
        margin:0 0 0 3%;
        padding:2rem 0 0 0
    }
    .menu-container>*:last-child {
        margin-bottom:0
    }
    .language {
        width:10rem;
        height:4rem;
        font-size:4rem
    }
    .action-link {
        width:23rem
    }
    .action {
        height:6rem
    }
    .li-link {
        width:6.5rem;
        margin-left:9rem
    }
    .li-link:last-child {
        margin-left:0
    }
    .home-container {
        height:95rem;
        background-size:160%;
        background-position:100% 0
    }
    .main_title_container {
        line-height:0
    }
    .btn_explore {
        font-size:3.5em
    }
    .small-section {
        height:35rem
    }
    .outer-center {
        max-width:70%
    }
    #event {
        font-size:8em;
        text-align:center
    }
    .btn-container {
        margin-top:5rem
    }
    .overlapping {
        height:90rem
    }
    .section_text {
        padding:20% 5% 20% 5%;
        overflow:hidden
    }
    .section_text-events {
        padding:20% 5% 20% 5%
    }
    .event-description-box p {
        font-size:3.2em
    }
    .subheading {
        font-size:4.5em
    }
    .news-photo {
        width:100%;
        height:62rem;
        margin:0 auto;
        position:relative;
        display:block
    }
    .news-text {
        width:100%;
        margin:0 auto;
        padding:5% 0 0 0;
        position:relative;
        display:block
    }
    .competence {
        font-size:6rem
    }
    .second-title {
        font-size:4em
    }
    .alt-btn {
        font-size:3.5em
    }
    .post-twitter {
        width:54.5rem;
        height:54.5rem
    }
    .logo-facebook-post {
        top:75%;
        right:3%
    }
    .title-post {
        margin:3% 0 5% 0;
        font-size:2.5rem
    }
    .text-post-facebook {
        margin:0;
        font-size:1.6rem
    }
    .date-post-facebook {
        position:absolute;
        top:75%;
        font-size:2.5em
    }
    .logo-twitter-post {
        height:4.5rem;
        top:86%
    }
    .logo-post {
        height:4.2rem
    }
    .logo-insta-post {
        top:74%
    }
    .follow-fb {
        top:63%;
        font-size:3em
    }
    .headquarters {
        height:85rem;
        padding:11% 0 0 0
    }
    .city-container {
        margin:30% 0 0 0
    }
    .address {
        font-size:3em;
        margin:0 0 10% 0
    }
    .logo-post-map {
        width:26rem
    }
    .social-footer-container {
        font-size:5em
    }
    .social-footer {
        width:65rem
    }
    .li-info {
        width:40%;
        margin:1% 0 0 0;
        padding:0 0 0 9%;
        font-size:3em
    }
    .info-footer>*:first-child {
        width:100%;
        margin:0 0 5% 0;
        padding:0;
        display:block;
        text-align:center
    }
    .info-footer>*:last-child {
        float:left
    }
    .info-footer>*:nth-child(3) {
        float:right
    }
    .info-footer>*:nth-child(4) {
        float:right
    }
    .info-footer>*:nth-child(2) {
        float:left
    }
    .icon-social {
        height:5rem
    }
    .li-social-footer {
        margin-left:7%
    }
    .header.open {
        height:55rem
    }
    .header.open .header-closed {
        z-index:1;
        opacity:0
    }
    .header.open aside {
        z-index:2;
        opacity:1
    }
    .header .header-closed {
        width:100%;
        height:100%;
        position:absolute;
        z-index:2;
        top:0;
        left:0;
        opacity:1;
        -webkit-transition:opacity .3s ease-in-out;
        transition:opacity .3s ease-in-out
    }
    .header aside {
        width:100%;
        height:100%;
        position:absolute;
        z-index:1;
        top:0;
        left:0;
        opacity:0;
        background-color:#fff;
        -webkit-transition:opacity .3s ease-in-out;
        transition:opacity .3s ease-in-out
    }
    .menu-item {
        width:15rem;
        margin:0 0 10% 0;
        font-size:4em
    }
    .close {
        width:3.5rem;
        right:7%
    }
    .search {
        margin:5% 0 0 15%
    }
    .search-elements {
        height:6rem
    }
    .section-main {
        height:90rem
    }
    .overlapping-main {
        height:90rem
    }
    .overlapping-upper {
        min-width:90%;
        max-width:90%
    }
    .competence-main {
        font-size:7em
    }
    .second-title-main {
        font-size:4em
    }
    .text-events {
        font-size:4.2em
    }
    .story-container {
        height:0
    }
    .story-container.open-info {
        height:80rem
    }
    .story {
        font-size:3.5em
    }
    .story-close {
        width:3.5rem;
        right:7%
    }
    .landscape-image {
        height:35rem
    }
    .search>.search-elements>.search-text {
        font-size:4em
    }
    .section_text-events,
    .section-preface {
        padding:10% 10% 5% 10%
    }
    .title {
        font-size:6em
    }
    .title-article {
        font-size:5em
    }
    .photo {
        width:35rem;
        height:35rem;
        border-radius:35rem
    }
    .name-photo {
        font-size:4.2em
    }
    .active-edit .photo,
    .photo-hover {
        border:1.5em solid #974f51
    }
    .section-map {
        height:90rem
    }
    .news-date-container {
        height:35%;
        width:25%;
        position:absolute;
        margin:2rem
    }
    .news-date {
        box-sizing:border-box;
        padding:2rem 0 8rem 0
    }
    .news-date-text {
        font-size:6em
    }
    .day {
        padding:0;
        height:70%
    }
    #peak:before {
        left:2%
    }
    #peak:after {
        top:62%;
        left:83%
    }
    .form-container {
        margin:3rem 0 5rem 10rem;
        width:80%;
        -moz-border-radius:7px;
        -webkit-border-radius:7px
    }
    .form-container .contact-email {
        font-size:5rem
    }
    .contact-form {
        margin-top:2rem
    }
    .contact-form #name {
        margin-right:2.5%
    }
    .contact-form #surname {
        margin-left:2.5%
    }
    .contact-form #name,
    .contact-form #surname {
        width:47%
    }
    .contact-form #message {
        height:15rem
    }
    .contact-form label {
        display:block;
        padding-bottom:1rem;
        font-size:5.5rem;
        font-weight:400
    }
    .section_post .post-block {
        width:80%
    }
    .section_post .post-head .post-title {
        font-size:5rem
    }
    .section_post .post-head .post-author {
        font-size:3rem
    }
    .section_post .post-head .post-social {
        margin:3.5rem 0 0 40rem;
        float:left;
        width:55%
    }
    .section_post .post-head .post-social p {
        margin:-1rem 2rem 0 1.2rem;
        font-size:3rem
    }
    .section_post .post-body p {
        float:left
    }
    .section_post .add-comment label {
        font-size:4rem
    }
    .section_post .add-comment #new-comment {
        margin-top:1rem;
        background-color:#fff
    }
    .section_post .post-comments span {
        font-size:4rem
    }
    .section_post .post-comments .n-comments {
        font-size:5rem
    }
    .section_post .post-comments .comment .comment-date {
        font-size:3rem
    }
    .blog-top.post {
        margin-left:85rem;
        font-size:3.5rem
    }
    .section_blog {
        width:100%;
        margin-top:8rem;
        overflow:auto
    }
    .section_blog .blog-block {
        width:95%
    }
    .section_blog .blog-block .blog-item {
        padding:0 4rem 15rem 8rem
    }
    .section_blog .blog-block .blog-item .blog-date {
        width:20%
    }
    .section_blog .blog-block .blog-item .blog-date .day {
        font-size:10rem
    }
    .section_blog .blog-block .blog-item .blog-date .month {
        font-size:5rem
    }
    .section_blog .blog-block .blog-item .blog-image {
        margin-bottom:2rem
    }
    .section_blog .blog-block .blog-item .blog-image img {
        display:inline;
        width:100%
    }
    .section_blog .blog-block .blog-item .blog-author {
        display:none
    }
    .section_blog .blog-block .blog-item .blog-title {
        font-size:5rem
    }
    .section_blog .blog-block .blog-item .blog-social {
        margin-bottom:8rem
    }
    .section_blog .blog-block .blog-item .blog-social img {
        width:7%
    }
    .section_blog .blog-block .blog-item .blog-social p {
        margin:-3rem 2rem 0 1rem;
        font-size:4rem
    }
    .section_blog .blog-block .blog-item.collapsed {
        margin:0 4rem 16rem 8rem;
        padding:0
    }
    .section_blog .blog-block .blog-item.collapsed .blog-date {
        width:7%
    }
    .section_blog .blog-block .blog-item.collapsed .blog-date .day {
        font-size:4rem
    }
    .section_blog .blog-block .blog-item.collapsed .blog-date .month {
        font-size:2rem
    }
    .section_blog .blog-block .blog-item.collapsed .blog-author {
        font-size:2.5rem
    }
    .section_blog .blog-block .blog-item.collapsed .blog-title {
        font-size:4rem
    }
    .section_blog .blog-block .blog-item.collapsed .blog-preview {
        visibility:hidden;
        position:absolute
    }
    .section_blog .blog-block .blog-item.collapsed .blog-social {
        margin:4rem 0 0 20rem
    }
    .section_blog .blog-block .blog-item.collapsed .blog-social img {
        width:4.5rem
    }
    .section_blog .blog-block .blog-item.collapsed .blog-social p {
        margin:-2rem 2rem 0 .5rem;
        font-size:3rem
    }
    .section_blog .blog-sidebar {
        visibility:hidden
    }
    .blog-button {
        width:30%;
        margin:0 0 4rem 10rem
    }
    .blog-top {
        margin-left:30rem;
        font-size:4.5rem
    }
    .countdown {
        margin:0 0 0 35rem
    }
    .countdown .countdown-dh,
    .countdown .countdown-ms {
        float:none
    }
}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    img {
        border:none
    }
    main {
        box-sizing:border-box;
        width:100%;
        overflow:hidden !important;
        -ms-overflow-y:scroll !important
    }
    .social-footer {
        width:40rem
    }
}
@media screen and (-ms-high-contrast: none) and (max-width: 640px),
(-ms-high-contrast: active) and (max-width: 640px) {
    footer>.social-footer {
        width:78rem
    }
    #peak:before {
        top:-85%
    }
    #peak:after {
        top:15%;
        left:100%
    }
    .li-info {
        margin:0 0 0 11%
    }
}
@media screen and (orientation: landscape) {
    body {
        overflow:scroll;
        height:inherit
    }
    main,
    footer {
        position:relative;
        overflow:visible
    }
}
